html {
  height: auto;
  min-height: 100%;
}
html {
  background-image: radial-gradient(circle, #ffffff, #fdfdfd, #fbfafc, #f9f8fa, #f8f5f8, #f5f2f5, #f3eff2, #f0ecef, #ebe7ea, #e7e3e6, #e2dee1, #dedadd);

}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
